.header {
    padding: 27px 0px 19px 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000007;
}

.header h1 {
    font-size: 18px;
    color: #1D2226;
    font-weight: 400;
    line-height: 21px;
    text-transform: capitalize;
}

.profile_container {
    padding: 30px 18px 20px 20px;
    text-transform: capitalize;
    color: #1D2226;
}

.profile_card {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.profile_card .img_wrapper {
    position: relative;
    width: 76px;
    height: 76px;
}

.profile_card .img_wrapper img:nth-child(1) {
    width: 100%;
    height: 100%;
}

.profile_card .img_wrapper img:nth-child(2) {
    position: absolute;
    transform: translate(5px, -5px);
    width: 21px;
    height: 23px;
    right: 0;
    bottom: 0;
}

.profile_card .content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile_card .content_wrapper h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.profile_card .content_wrapper p {
    font-size: 14px;
    line-height: 19px;
}

.profile_container .profile_description {
    font-size: 14px;
    line-height: 22px;
}

.b1 {
    border: 1px dashed #CBCBCB;
    margin-bottom: 489px;
}

.b2 {
    border: 1px dashed #CBCBCB;
}