.wrapper {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 375px;
    height: 812px;
    background-color: #F7F8F9;
}